[submodule "start/vimtex"]
	path = start/vimtex
	url = https://github.com/lervag/vimtex
[submodule "opt/ale"]
	path = opt/ale
	url = https://github.com/w0rp/ale
[submodule "start/typescript-vim"]
	path = start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim
[submodule "start/tabular"]
	path = start/tabular
	url = https://github.com/godlygeek/tabular
[submodule "start/vim-exchange"]
	path = start/vim-exchange
	url = https://github.com/tommcdo/vim-exchange
[submodule "start/vim-sneak"]
	path = start/vim-sneak
	url = https://github.com/justinmk/vim-sneak
[submodule "opt/gruvbox"]
	path = opt/gruvbox
	url = https://github.com/morhetz/gruvbox
[submodule "start/vim-css-color"]
	path = start/vim-css-color
	url = https://github.com/ap/vim-css-color
[submodule "start/vim-go"]
	path = start/vim-go
	url = git://github.com/fatih/vim-go.git
[submodule "start/vim-pandoc-syntax"]
	path = start/vim-pandoc-syntax
	url = git://github.com/vim-pandoc/vim-pandoc-syntax.git
[submodule "start/vim-pandoc"]
	path = start/vim-pandoc
	url = git://github.com/vim-pandoc/vim-pandoc.git
