[submodule "start/vimtex"]
	path = start/vimtex
	url = https://github.com/lervag/vimtex
[submodule "opt/ale"]
	path = opt/ale
	url = https://github.com/w0rp/ale
[submodule "start/typescript-vim"]
	path = start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim
[submodule "start/tabular"]
	path = start/tabular
	url = https://github.com/godlygeek/tabular
[submodule "start/vim-exchange"]
	path = start/vim-exchange
	url = https://github.com/tommcdo/vim-exchange
[submodule "start/vim-sneak"]
	path = start/vim-sneak
	url = https://github.com/justinmk/vim-sneak
[submodule "opt/gruvbox"]
	path = opt/gruvbox
	url = https://github.com/morhetz/gruvbox
[submodule "start/vim-css-color"]
	path = start/vim-css-color
	url = https://github.com/ap/vim-css-color
[submodule "start/vim-go"]
	path = start/vim-go
	url = git://github.com/fatih/vim-go.git
[submodule "start/vim-emoji"]
	path = start/vim-emoji
	url = git://github.com/junegunn/vim-emoji.git
[submodule "start/vim-pandoc"]
	path = start/vim-pandoc
	url = git://github.com/vim-pandoc/vim-pandoc.git
[submodule "start/vim-pandoc-syntax"]
	path = start/vim-pandoc-syntax
	url = git://github.com/vim-pandoc/vim-pandoc-syntax.git
[submodule "opt/jellybeans.vim"]
	path = opt/jellybeans.vim
	url = git://github.com/nanotech/jellybeans.vim.git
[submodule "start/tagbar"]
	path = start/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "start/vim-tmux"]
	path = start/vim-tmux
	url = git://github.com/tmux-plugins/vim-tmux.git
[submodule "start/vim-online-thesaurus"]
	path = start/vim-online-thesaurus
	url = git://github.com/beloglazov/vim-online-thesaurus.git
[submodule "start/startuptime.vim"]
	path = start/startuptime.vim
	url = git://github.com/tweekmonster/startuptime.vim.git
[submodule "start/vim-python-pep8-indent"]
	path = start/vim-python-pep8-indent
	url = git://github.com/Vimjas/vim-python-pep8-indent.git
[submodule "opt/vim-game-code-break"]
	path = opt/vim-game-code-break
	url = git://github.com/johngrib/vim-game-code-break.git
[submodule "opt/vim-colors-pencil"]
	path = opt/vim-colors-pencil
	url = git://github.com/reedes/vim-colors-pencil.git
[submodule "vim-compiler-vale"]
	path = vim-compiler-vale
	url = git://github.com/lgalke/vim-compiler-vale.git
[submodule "start/fugitive-gitlab.vim"]
	path = start/fugitive-gitlab.vim
	url = git://github.com/shumphrey/fugitive-gitlab.vim.git
